## Any settings in this file will override the settings from
## $ROS_ROOT/config/rosconsole.config

## Disable logging completely
#log4j.threshold=OFF

## Set the default ros output to warning and higher
#log4j.logger.ros=WARN

## Override the template_nodes package to output everything (DEBUG and higher)
log4j.logger.ros.template_nodes=DEBUG
