<?xml version="1.0"?>
<launch>
    <!-- Load configuration for ROS Console -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find template_bringup)/config/rosconsole.config"/>

    <!-- Include the machine definition -->
    <include file="$(find template_bringup)/launch/machines/example.machine" />

    <!-- Define node to start -->
    <node machine="example" pkg="template_nodes" type="do_something" name="do_something" >
        <!-- Load the parameters to the parameter server -->
        <rosparam command="load" file="$(find template_bringup)/config/example_default.yaml" />
    </node>
</launch>
