<?xml version="1.0"?>
<launch>
    <!-- Define Robot IDs -->
    <arg name="ns_robot_1" value="tick"/>
    <arg name="ns_robot_2" value="trick"/>
    <arg name="ns_robot_3" value="track"/>

    <!-- Load URDF of Robot 1 -->
    <include  file="$(find template_bringup)/launch/example_robot.launch">
        <arg name="robot_ns" value="$(arg ns_robot_1)" />
    </include>
    <!-- Load URDF of Robot 2 -->
    <include  file="$(find template_bringup)/launch/example_robot.launch">
        <arg name="robot_ns" value="$(arg ns_robot_2)" />
    </include>
    <!-- Load URDF of Robot 3 -->
    <include  file="$(find template_bringup)/launch/example_robot.launch">
        <arg name="robot_ns" value="$(arg ns_robot_3)" />
    </include>

    <!-- Static Transforms for static robots -->
    <node name="static_transform_publisher" pkg="tf2_ros" type="static_transform_publisher" args=" 1  1 0 0 0 0 /map /$(arg ns_robot_1)/link_1" ns="$(arg ns_robot_1)"/>
    <node name="static_transform_publisher" pkg="tf2_ros" type="static_transform_publisher" args="-1 -2 0 0 0 0 /map /$(arg ns_robot_2)/link_1" ns="$(arg ns_robot_2)"/>
    <node name="static_transform_publisher" pkg="tf2_ros" type="static_transform_publisher" args="-2  1 0 0 0 0 /map /$(arg ns_robot_3)/link_1" ns="$(arg ns_robot_3)"/>

    <!-- Run RViz with config file -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find template_bringup)/config/fleet.rviz"/>
</launch>
